.blogRow{
    justify-content: center;
}

.cardColumn{
    /* width: max-content; */
    /* padding: 0; */
    /* margin: 1em; */
    text-decoration: none;
}
.blogLink{
    text-decoration: none;
}
.cardText{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}